/*Custom Fonts*/

@font-face {
    font-family: 'BallparkFont';
    /* src: url('../fonts/ballpark.woff') format('woff'); */
    src: url(../../c3/fonts/ballpark.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('../../c3/fonts/dayrom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Main elements*/

body {
    background: url('../../c3/images/yellow_background.png');
    width: 920px;
    margin: 25px auto;
    /* font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818; */
}

/* nav a, */

footer h1 {
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

footer h2 {
    padding-top: 20px;
}

header {
    background: url('../../c3/images/line.png') repeat-x bottom;
}

header h1 {
    font-family: 'BallparkFont';
    font-weight: normal;
    font-size: 4.5em;
    vertical-align: middle;
}

header h2 {
    font-family: 'Dayrom', serif;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0px;
    margin-left: 24px;
}

#logo,
header h1 {
    display: inline-block;
    margin-bottom: 0;
}

#logo {
    width: 112px;
}

/* Navegacion */

nav {
    display: inline-block;
    /* width: 75%; */
    text-align: right;
    text-shadow: 1px -1px 8px black;
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    /* https://stackoverflow.com/questions/26275982/putting-moz-available-and-webkit-fill-available-in-one-width */
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    text-transform: uppercase;
    padding-bottom: 3px;
}

/* nav a:hover,
nav a:focus {
    color: #760000;
    border-bottom: 3px solid #760000;
} */

/* BANNER */

#banner-image {
    margin-top: 15px;
    height: 215px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
    background: url('../../c3/images/sanfrancisco.jpg') no-repeat;
    box-shadow: 10px 10px 50px #181818;
    width: 950px;
    max-width: 100%;
}

#banner-description {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    background-color: rgba(24, 24, 24, 0.6);
    color: white;
    border-radius: 0px 0px 5px 5px;
    /* font-size: 0.8em; */
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.red-button {
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    background: url('../../c3/images/red_background.png');
    border: 1px solid #760000;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    color: white !important;
    text-decoration: none;
    padding: 3px 8px 0px 8px;
}

/* CUERPO */

article {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px dotted #3129965e;
    border-right: none;
    border-top: none;
    border-left: none;
}

aside {
    border-radius: 5px;
    border: 1px dotted #3129965e;
    border-left: none;
    border-top: none;
}

/*
article {
    width: 65%;
    margin-right: 15px;
}

aside {
    width: 30%;
    background: linear-gradient(#3afb5b78, #000800);
    box-shadow: 0px 2px 5px #181818;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#arrow {
    position: relative;
    left: -22px;
    vertical-align: middle;
}
*/

aside h2 {
    font-size: 1.05rem;
    color: darkolivegreen;
    margin-top: 5px;
}

.cat-icon {
    vertical-align: middle;
    margin-right: 8px;
}

#zozor-picture {
    text-align: center;
}

.redes {
    margin-bottom: 10px;
}

.redes img {
    height: 32px;
    box-shadow: 3px 4px 6px 0px #a99868;
}

/* FOOTER */

footer {
    background: url('../../c3/images/top.png') no-repeat top center, url('../../c3/images/line.png') repeat-x top, url('../../c3/images/shadow.png') repeat-x top;
    margin-top: 25px;
    width: 100%;
}

#my-pictures {
    display: inline-block;
    vertical-align: top;
    /* width: 35%; */
}

#my-pictures img {
    border: 1px solid #181818;
    margin-right: 2px;
}

/* Personalización de Bootstrap */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgb(255, 244, 214);
    border-color: rgba(0, 123, 255, .25) rgba(0, 123, 255, .25) #81818200;
}

.float-left {
    float: left!important;
    margin-right: 5px;
}


/* Agregados */ 

.tab-pane div.articulos {
    margin-top: 5px;
}

.alert-banner {
    position: absolute;
    bottom: 0px;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}

@media (max-width: 576px) {
    body {
        background: url('../../c3/images/yellow_background.png');
        width: 500px;
        margin: 25px auto;
    }
 }

@media (min-width: 576px) {
    body {
        background: url('../../c3/images/yellow_background.png');
        width: 576px;
        margin: 25px auto;
    }
 }

@media (min-width: 768px) { 
    body {
        background: url('../../c3/images/yellow_background.png');
        width: 768px;
        margin: 25px auto;
    }
 }

@media (min-width: 992px) { 
    body {
        background: url('../../c3/images/yellow_background.png');
        width: 920px;
        margin: 25px auto;
    }
 }

@media (min-width: 1200px) { 
    body {
        background: url('../../c3/images/yellow_background.png');
        width: 920px;
        margin: 25px auto;
    }
 }