/* posicionamiento de los pixeles con flexbox*/
#contenedor{
    display: flex;
    flex-flow: row wrap;
/*tamaño del contenedor*/
    width: 25vw;
    height: 25vh;
}
 
.pixel{
   flex: 1 1 auto;
    background: navajowhite;
    width: 5px;
    height: 5px;
 
 
}
 
.pintura{
    background: red;
}
