<!-- Sintaxis de EJS para importar el partial header -->
<% include partials/_header %>

<main role="main" class="bd-content container">
        <div class="jumbotron">
          <h1 class="display-3">Elecciones!</h1>
          <img src="/img/votando.svg" class="img-fluid float-right ml-2" alt="Elecciones" width="45%">
          <p class="lead">Después de vivir entre la corrupción con los políticos parece un chiste que aún no existan los sistemas de votos electrónicos ya funcionando en los distintos países... un simple sistema que permita brindar transparencia para que tu voto <span class="badge badge-success">¡SUME!</span></p>
          <p class="lead">
            <a class="btn btn-success" href="/votar" role="button">Votar</a>
          </p>
          <hr class="my-4">
          <p>​A los fines del Trabajo Práctico Final para el curso de Diplomatura en Programación Web dictado por la Universidad Tecnológica de Córdoba, estás a punto de iniciar el sistema de votos electrónicos denominado: "Elecciones".<br><br>Si necesitas <span class="badge badge-info">ayuda</span>, en la parte inferior de la página encontrarás un enlace para tal fin.</p>
          <hr class="my-4">
          <p><span class="badge badge-pill badge-light"><u>Nota:</u></span> quería aclarar que la lista de candidatos para este demo de elecciones es una lista humorística, y que había incluído a <b>Juan Manuel De la Sota</b>, quién falleció lamentablemente en un accidente el día 15 de Septiembre cuando se estaba desarrollando el sistema de elecciones. Decidí no quitarlo de la lista, espero no moleste mi decisión ni parezca inapropiada.
          </p>
        </div>
        <!--fin-->
        </main>

<!-- Sintaxis de EJS para importar el partial footer -->
<% include partials/_footer %>